.profile__name {
  max-width: 250px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: white;
  margin: 0;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 320px) {
  .profile__name {
    max-width: 189px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}


