.profile__info {
  max-width: 336px;
  margin-left: 30px;
  padding: 22px 0 0;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 680px) {
  .profile__info {
    padding-bottom: 0;
  }
}

@media (max-width: 320px) {
  .profile__info {
    max-width: 282px;
    margin: 0;
  }
}