.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  column-gap: 24px;
}

@media (max-width: 680px) {
  .header__nav {
    flex-direction: column;
    align-items: center;
    row-gap: 18px;
    column-gap: none;
    order: -1;
    border-bottom: 1px solid #545454;
    padding: 40px 0;
  }
}