.auth__button {
  width: 358px;
  min-height: 50px;
  background-color: white;
  border: 1px white solid;
  border-radius: 2px;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: black;
  cursor: pointer;
  margin-top: 216px;
}

.auth__button:hover {
  opacity: 0.6;
  transition: .2s ease;
}

@media screen and (max-width: 475px) {
  .auth__button {
    width: 260px;
    min-height: 46px;
    font-size: 16px;
    line-height: 19px;
    margin-top: 173px;
  }
}