.elements__list {
  padding: 0;
  margin: 51px auto 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 15px;
  column-gap: 17px;
}
  
@media (max-width: 1024px) {
  .elements__list {
    grid-template-columns: repeat(2, 1fr);
    max-width: fit-content;
  }
}
  
@media (max-width: 680px) {
  .elements__list {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 36px;
    justify-content: center;
  }
}