.header {
  max-width: 880px;
  min-height: 74px;
  width: calc(100% - 200px * 2);
  padding-top: 45px;
  margin: 0 auto 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .header {
    width: calc(100% - 100px * 2);
  }
}

@media screen and (max-width: 1023px) {
  .header {
    width: calc(100% - 50px * 2);
  }
}

@media screen and (max-width: 680px) {
  .header {
    width: calc(100% - 25px * 2);
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 100%;
    min-height: 56px;
    margin: 0 auto 0;
    padding-top: 28px;
  }
}